.banner {
  min-height: 550px;
  background: url('../img/banner.jpg') center center no-repeat;
  background-size: cover;

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 60px;
  }



}
