.header {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  margin: auto;
  min-height: 80px;

  &__left {
    flex-grow: 1;
    text-align: left;
    flex-basis: 300px;
    display: flex;
  }

  &__right {
    flex-grow: 1;
    text-align: right;
    flex-basis: 300px;
    display: flex;
  }

  &__menu {
    padding: 30px;
    flex-basis: 70px;
  }

  &__logo {
    flex-basis: 220px;
    padding: 30px;
    flex-grow: 1;
    text-align: left;
  }

  &__contacts {
    flex-basis: 265px;
    padding: 30px;
    text-align: right;
    flex-grow: 1;
  }
  &__exit {
    flex-basis: 70px;
    padding: 30px;
  }

  &__phone {
    padding: 10px 35px;
    background: #ffd200;
    color: #212121;
    border-radius: 10px;
    font-size: 16px;
    white-space: nowrap;

    &-text {
      background: url('../img/dotted-border.png') 0 bottom;
      background-repeat: repeat-x;
    }

  }

}
